.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
}
.loader img{
    animation: zoom-in-zoom-out 2s ease infinite;
    width: 200px;
    @mixin atMedium {
        width: auto;
    }
}

@keyframes zoom-in-zoom-out {
    /*0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }*/
    to {
        transform: rotateY(360deg);
    }
  }

.hide-loader{
    display: none;
}

.whole-section {
   display: none;
}

.show-section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'EB Garamond', serif;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 1.05rem;
    @mixin atMedium {
        font-size: 1.2rem;
    }
    color: $white;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 1.6rem;
    @mixin textGradient;

    @mixin atMedium {
        font-size: 2.8rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
}

h2, .inner-main-heading {
    font-size: 2rem;
    font-family: 'Niconne';
    @mixin textGradient;

    @mixin atMedium {
        margin: 0;
        font-size: 3rem;
        font-weight: 500;
    }
}

h3 {
    font-size: 1.3rem;
    display: inline-block;
    text-align: center;
    @mixin textGradient;

    @mixin atMedium {
        font-size: 1.7rem;
    }
}

.bdr {
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    animation: border-pulse 2s ease-in-out infinite;
    /*border-image: linear-gradient(to right, $gold, $lightgold, $gold) 1;*/

    &:hover {
        border-image: linear-gradient(to right, $gold, $darkpurple, $gold);
        border-image-slice: 1;
        animation: none;
    }

    @keyframes border-pulse {
        0% {
           border-color: $gold;
        }
        50% {
           border-color: $darkpurple;
        }
        100% {
           border-color: $gold;
        }
     }
}

.splash {
    background: #000;
    text-align: center;

    @mixin atMedium {
        margin: 0;
    }

    &__img {
        width: 120px;

        @mixin atMedium {
            width: 150px;
        }
    }
}

.p-20 {
    padding: 1.25rem;
}

.mr-2 {
    margin-right: .5rem !important;
}

.txt-ctr {
    margin: auto;
}

/* Reveal on Scroll */
.reveal-item { 
    opacity: 0;
    transition: opacity .3s ease-out, transform .3s ease-out;
    transform: scale(1.15);

    &--is-visible {
        opacity: 1;
        transform: scale(1);
    }
}
/* Reveal on Scroll */

.mob-element {
    @mixin atMedium {
        display: none;
    }
}

.d-block {
    object-fit: cover;
}