.whole-section {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'EB Garamond', serif;
    background: linear-gradient(5deg, #F2EEEB, #F2EEEB, #E5DCD7, #E5DCD7, #F2EEEB, #F2EEEB);
}

img, video {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 1.05rem;
    @mixin atMedium {
        font-size: 1.2rem;
    }
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2.05rem;
    @mixin textBlackGradient;
    text-align: center;
    font-family: 'Niconne';
    margin-top: 2rem;
    @mixin atMedium {
        font-size: 3.05rem;
    }
}

.sub-heading {
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    margin-top: 1.2rem;
    font-family: EB Garamond, serif;
    margin-bottom: 1.2rem;

    @mixin atMedium {
        margin-top: 0;
        font-size: 1.8rem;
    }
}

.sub-heading-two {
    font-size: 2rem;
    font-family: 'Niconne';
    @mixin textGradient;
    @mixin atMedium {
        margin: 0;
        font-size: 3rem;
        font-weight: 500;
    }
}

h3 {
    display: inline-block;
    text-align: center;
    @mixin textGradient;
    font-size: 1.3rem;
    @mixin atMedium {
        font-size: 1.7rem;
    }
}

ul {
    list-style-type: none;
}


ul.fa-ul li {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-size: 1.05rem;
    line-height: 1.6;

    @mixin atMedium {
        font-size: 1.1rem;
    }

    a {
        color: $white;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color: $lightgold;
        }
    }
}

.fa-li {
    &:hover {   
        transform: scale(1.1);
        cursor: pointer;
    }
}


.bdr {
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    animation: border-pulse 2s ease-in-out infinite;

    &:hover {
        border-image: linear-gradient(to right, $gold, $darkpurple, $gold);
        border-image-slice: 1;
        animation: none;
    }

    @keyframes border-pulse {
        0% {
           border-color: $gold;
        }
        50% {
           border-color: $darkpurple;
        }
        100% {
           border-color: $gold;
        }
     }
}

.splash {
    background-color: $black;
    text-align: center;

    @mixin atMedium {
        margin: 0;
    }

    &__img {
        width: 120px;

        @mixin atMedium {
            width: 150px;
        }
    }
}

.mr-2 {
    margin-right: .5rem !important;
}

.m-block {
    margin-block: 1rem;
}

/* Reveal on Scroll */
.reveal-item { 
    opacity: 0;
    transition: opacity .3s ease-out, transform .3s ease-out;
    transform: scale(1.15);

    &--is-visible {
        opacity: 1;
        transform: scale(1);
    }
}
/* Reveal on Scroll */

.mob-element {
    @mixin atMedium {
        display: none;
    }
}

i {
    text-rendering: optimizeLegibility;
}

.icons {
    background: linear-gradient(30deg, $darkpurple, $black, $darkpurple);
    position: fixed;
    right: 0;
    bottom: 30px;
    @mixin forSmall {
        bottom: 10%;
    }
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;


    .side-icon {
        @mixin textGradient;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        max-height: 500px;
    }

    .whatsapp, .insta {
        font-size: 1.8rem;
    }
}

.bg2 {
    background: linear-gradient(5deg, #F2EEEB, #F2EEEB, #E5DCD7, #E5DCD7, #F2EEEB, #F2EEEB);

    h1, h2, h3, p, li, .fa-li i {
        @mixin textBlackGradient;
    }

    h1 {
        display: inline-block;
    }
}

.bg1 {
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
    padding: 1rem;
    @mixin atMedium {
        padding: 5rem 3rem;
    }

    h2 {
        text-align: center;
    }

    p {
        color: $grey;
    }
}

.hero {
    display: flex;
    background-color: #F2EEEB;
    width: 100%;
    position: relative;
}

.offerModal .modal-content {
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
}

.offerModal .modal-header h5 {
    color: $lightgold;
} 

.offerModal .modal-header {
    display: flex;
    justify-content: center;
    border-bottom-color: $lightgold;
}