.about-section {
    background-image: url('./assets/images/bg-medium.jpg');

    @mixin forSmall {
        background-image: url('./assets/images/bg-small.jpg');
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F2EEEB;

    &__top, &__bottom {
        display: grid;
        @mixin atMedium {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
        
        &__desc {
            h1, h2 {
                margin-block: 1.2rem;    
                @mixin atMedium {
                    margin-top: 0;
                }
            }

            h1 {
                font-size: 2.2rem;
                font-weight: 600;
            }

            h2 {
                font-size: 2rem;
            }
    
            ul {
                list-style-type: none;
            }
    
            ul li {
                font-family: 'Lato', sans-serif;
                padding: 10px;
                font-size: 1.05rem;
                line-height: 1.6;
    
                @mixin atMedium {
                    font-size: 1.1rem;
                }
                color: $white;
                font-weight: 500;
    
            }
    
            .fa-li {
                @mixin textBlackGradient;
    
                &:hover {   
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }

            h1, h2, p, li, .fa-li {
                @mixin textBlackGradient;
            }
        }

        &__img {
            margin: auto;
            
            img {
                transition: transform 1s ease-out;
            }
    
            img:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    &__text {
        color: $black;
        margin-block: 1rem;
    }
}