footer {
    background: #000;

    p {
        font-size: 1.1rem;
        font-family: 'EB Garamond', serif;
        font-weight: 500;
        @mixin textGradient;

        @mixin atMedium {
            font-size: 1.3rem;
        }
    }
    
}

.footer {
    display: block;
    text-align: center;

    @mixin atMedium {
        display: flex;
        justify-content: space-evenly;
    }    

    &__logo {
        width: 120px;
        margin: 0 auto 1.5rem auto; 
        @mixin atMedium {
            width: 150px;
            margin: 0;
        }
    }
}

.footer > div {
    margin-top: 2.5rem;
    @mixin atMedium {
        margin-top: 0;
    }
}

.footer-text {
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
    text-align: center;
    padding: 20px;
}

footer .fa-solid, footer .fa-regular {
    @mixin textGradient;
    font-size: 2rem;
}

.go-to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    @mixin atMedium {
        right: 30px;
    }
    z-index: 99;
    font-size: 2rem;

    a {
        @mixin textGradient;
    }
}