footer {
    background-color: $black;
    p {
        font-size: 1.1rem;
        font-family: 'EB Garamond', serif;
        margin-block: 1rem;
        color: $lightgold;
        font-weight: 500;
        @mixin atMedium {
            font-size: 1.25rem;
        }
    }   

    .footer {
        display: block;
        text-align: center;
        padding: 20px;
    
        @mixin atMedium {
            display: flex;
            justify-content: space-evenly;
            padding: 3.5rem 0;
        }    
    
        &__logo {
            width: 120px;
            margin: 0 auto 1.5rem auto; 
            @mixin atMedium {
                width: 150px;
                margin: 0;
            }
        }
    }
    
    .footer > div {
        margin-top: 2.5rem;
        @mixin atMedium {
            margin-top: 0;
        }
    }
    
    .footer-text {
        background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
        text-align: center;
        padding: 1rem;
    }

    .fa-solid, .fa-regular {
        @mixin textGradient;
        font-size: 1.6rem;
    }

    .fa-brands {
        @mixin textGradient;
    }
}