.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    @mixin atMedium {
        background: rgba(0, 0, 0, 0.7);
    }
    @mixin atMedium {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
    }
    
    &__logo {
        width: 120px;
        @mixin atMedium {
            width: 150px;
        }
        @mixin forSmall {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__nav {
        display: none;
        opacity: 0;
        transform: scale(1.2);
        transition: all .3s ease-out;
        position: relative;
        z-index: -10;
        @mixin atMedium {
            display: flex;
            justify-content: space-between;
            margin-left: 60px;
            transform: scale(1);
            z-index: 1;
            opacity: 1;
        }
        &--is-visible {
            display: block;
            opacity: 1;
            transform: scale(1);
            z-index: 1;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: revert;
        }

        ul li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            @mixin atMedium {
                display: inline-block;
                margin: 0 1.4rem;
            }
        }

        ul li a {
            text-decoration: none;
            font-size: 1.1rem;
            color: $lightgold;
            font-weight: 500;
            @mixin atMedium {
                font-size: 1.4rem;
            }
        }

        ul li:nth-child(4) {
            position: relative;
            span {
                display: none;
            }        

            &:hover, &:active {
                span {
                    display: flex;
                    position: absolute;
                    top: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    color: $white;
                    width: max-content;
                    padding: 1rem;

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            padding-block: 0rem;
                            @mixin atMedium {
                                padding-block: .4rem;
                            }
                        }
                    }

                    ul li a {
                        @mixin atMedium {
                            font-size: 1.2rem;
                        }
                    }
                }
            } 
        }
    }

    .btn {
        display: none;
        @mixin atMedium {
            display: block;
            background: linear-gradient(90deg, $gold, $lightgold, $gold); 
            color: $black;
            font-weight: 500;
            padding: 0.3rem 1rem;
            border-radius: 2rem;
            text-decoration: none;
            font-size: 1.3rem;
            transition: transform .2s ease-out;
            &:hover {
                transform: scale(1.05);
            }
        }     
    }

    .btn-wrap {
        display: flex;
        align-items: center;
        gap: 2rem;

        @mixin forSmall {
            position: absolute;
            top: 20px;
            right: 35px;
        }
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;
            width: 20px;
            height: 3px;
            transform-origin: 0 0; /*top left point*/
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $white;
            width: 20px;
            height: 3px;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $white;
            width: 20px;
            height: 3px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &--is-expanded {
        background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
        img {
            display: none;
        }
    }
}

.inner-header {
    position: relative;
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);

    .site-header__logo {
        @mixin forSmall {
            margin: 0 auto;
        }
    }
}