.site-header {
    padding: 15px;
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);   
    @mixin atMedium {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 140px;
    }
    
    &__logo {
        width: 90px;
        @mixin atMedium {
            width: 120px;
        }
    }

    &__nav {
        display: none;
        opacity: 0;
        transform: scale(1.2);
        transition: all .3s ease-out;
        position: relative;
        z-index: -10;
        @mixin atMedium {
            display: flex;
            justify-content: space-between;
            transform: scale(1);
            z-index: 1;
            opacity: 1;
        }
        &--is-visible {
            display: block;
            opacity: 1;
            transform: scale(1);
            z-index: 1;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;

            @mixin atMedium {
                display: inline-block;
                margin: 0 1.4rem;
            }
        }

        ul li a {
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            @mixin textGradient;

            &.is-current-link {
                color: $lightgold;
                font-weight: 500;
            }
            @mixin atMedium {
                font-size: 1.4rem;
            }
        }
    }

    .btn {
        display: none;
        @mixin atMedium {
            display: block;
            background: linear-gradient(90deg, $gold, $lightgold, $gold); 
            color: $black;
            padding: 0.5rem 1.2rem;
            border-radius: 2rem;
            text-decoration: none;
            font-size: 1.3rem;
            transition: transform .2s ease-out;
            &:hover {
                transform: scale(1.05);
            }
        }     
    }

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $lightgold;
            width: 20px;
            height: 3px;
            transform-origin: 0 0; /*top left point*/
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $lightgold;
            width: 20px;
            height: 3px;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $lightgold;
            width: 20px;
            height: 3px;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &--is-expanded {
        background-color: $lightpurple;
    }
}