.hero-section {
    /*background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);*/
    
    &__image {
        @mixin atMedium {
            flex: 0 0 50%;
            align-self: center;
            justify-self: center;
            width: 80vw;
            padding: 2rem 4rem;
        }
        
        transition: transform 1s ease-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__desc {
        flex: auto;

        @mixin atMedium {
            flex: 0 0 50%;
        }

        h2 {
            font-size: 1.3rem;
            display: inline-block;
            text-align: center;
            @mixin textGradient;
            margin-top: 1.2rem;
            font-family: EB Garamond, serif;

            @mixin atMedium {
                margin-top: 0;
                margin-bottom: .3rem;
                font-size: 1.7rem;
            }
        }

        ul {
            list-style-type: none;
        }

        ul li {
            font-family: 'Lato', sans-serif;
            padding: 10px;
            font-size: 1.05rem;
            line-height: 1.6;

            @mixin atMedium {
                font-size: 1.1rem;
            }
            color: $white;
            font-weight: 500;

        }

        .fa-li {
            @mixin textGradient;

            &:hover {   
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.bg1, .bg3, .bg4, .bg5, .bg7, .bg9, .bg11, .bg13, .bg15, .bg17, .bg19 {
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
}

.bg2, .bg4, .bg6, .bg8, .bg10, .bg12, .bg14, .bg16, .bg18, .bg20 {
    background-image: url('./assets/images/bg-medium.jpg');

    @mixin forSmall {
        background-image: url('./assets/images/bg-small.jpg');
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F2EEEB;

    h2, p, li, .fa-li {
        @mixin textBlackGradient;
    }
}

