.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, $darkpurple, $black, $darkpurple);
}

.loader img:nth-child(1){
    animation: zoom-in-zoom-out 2s ease infinite;
}

.loader img {
    width: 200px;
    @mixin atMedium {
        width: auto;
    }
}

@keyframes zoom-in-zoom-out {
    to {
        transform: rotateY(360deg);
    }
}