.map-section {
    &__wrapper {
        overflow: hidden;
        resize: none;
        max-width: 100%;
        width: 100%;
        height: 400px;
    }
}

#embed-map-canvas {
    height: 100%; 
    width: 100%;
    max-width: 100%;

    iframe {
        height:100%;
        width:100%;
        border:0;
    }
}
