.mvs {
    text-align: center;
    display: flex;
    flex-direction: column;

    &__text {
        text-align: left;
        line-height: 1.8;
        margin-top: 2rem;
    }

    h1 {
        font-size: 2rem;
        font-family: 'Niconne';

        @mixin atMedium {
            margin-block: 1.2rem;
            font-size: 3rem;
            font-weight: 500;
        }
    }

    h3 {
        margin-block: 1.2rem;
        font-weight: 600;
    }
}