.wrapper {
    padding: 20px;
    @mixin atMedium {
        padding: 3.5rem 8.75rem;
    }
    
    &--narrow {
        padding: 1.2rem;
        @mixin atMedium {
            padding: 3.5rem 8.75rem 3.5rem 8.75rem;
        }
    }

    &--no-top {
        padding-top: 0;
    }

    &--heading {
        display: flex;
        justify-content: center;
        padding: 1.2rem;
        @mixin atMedium {
            padding: 3.5rem 8.75rem 1.25rem 8.75rem;   
        }
    }
}